h1{
	text-align:center;
	background-color: black;
	width:100%;
	padding:2px;
	color:orange;
} 






#moviecontainer.card {
  overflow: hidden;
  height: 450px;
}

.moviecard {
  position: relative;   /* important for absolute children */
  height: 450px;
  overflow: hidden;
}
.moviecard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.moviecard:hover img {
  transform: scale(1.1); /* zoom effect */
}

.titleInfo {
  position: absolute;
  left: 0;
  bottom: 0;
  background:orange;
  width: 100%;
  padding: 20px;
  color: white;
  
}

.overview {
  position: absolute;
  bottom: -100%;  /* hidden below */
  left: 0;
  width: 100%;
  height: 70%;
  background-color:yellow;
  color:black;
  padding: 20px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.moviecard:hover .overview {
  bottom: 0;   /* slide up */
  opacity: 0.5;
}

.titleInfo h3 {
  height: 40px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} 
